{% extends 'base.html.twig' %}

{% block title %}Plugins Catedories
{% endblock %}

{% block body %}


	<div class="container my-10">


		<div class="px-20">
					{{ form_start(form) }}
					<div>
						{{ form_label(form.name) }}
						{{ form_widget(form.name) }}
						<div class="text-red-600 py-2">
							{{ form_errors(form.name) }}
						</div>
					</div>
					<div>
						{{ form_label(form.description) }}
						{{ form_widget(form.description) }}
						<div class="text-red-600 py-2">
							{{ form_errors(form.description) }}
						</div>
					</div>
					<div>
						{{ form_label(form.category) }}
						{{ form_widget(form.category) }}
						<div class="text-red-600 py-2">
							{{ form_errors(form.category) }}
						</div>
					</div>
					<div>
						{{ form_label(form.dashboard_path) }}
						{{ form_widget(form.dashboard_path) }}
						<div class="text-red-600 py-2">
							{{ form_errors(form.dashboard_path) }}
						</div>
					</div>
					<div>
						{{ form_label(form.credentials_form_filds) }}
						{{ form_widget(form.credentials_form_filds) }}
						{% if form_errors(form.credentials_form_filds) %}
							<div class="text-red-600 py-2">
								{{ form_errors(form.credentials_form_filds) }}
							</div>
						{% endif %}

					</div>

					<div>
						{{ form_label(form.imageFile) }}
						{{ form_widget(form.imageFile) }}
						<div class="text-red-600 py-2">
							{{ form_errors(form.imageFile) }}
						</div>
					</div>
					<div>
						{{ form_label(form.screenShots) }}
						{{ form_widget(form.screenShots) }}
						<div class="text-red-600 py-2">
							{{ form_errors(form.screenShots) }}
						</div>
					</div>

					<div class="w-full flex items-center justify-end">
						{{ form_widget(form.submit) }}
					</div>
					{{ form_end(form) }}
        </div>
	</div>


{% endblock %}
