{% extends 'base.html.twig' %}

{% block title %}Plugins Catedories
{% endblock %}

{% block body %}

	{% for flashMessage in app.flashes('success') %}
		<div id="alert-3" class="flex items-center p-4 mb-4 text-white rounded-lg bg-green-600 dark:bg-gray-800 dark:text-green-400" role="alert">
			<svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
			</svg>
			<div class="ms-3 text-sm font-medium">
				{{ flashMessage }}
			</div>
			<button type="button" class="ms-auto -mx-1.5 -my-1.5 text-white rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
				<span class="sr-only">Close</span>
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
				</svg>
			</button>
		</div>
	{% endfor %}
	{% for flashMessage in app.flashes('error') %}
		<div id="alert-2" class="flex items-center p-4 mb-4 text-white rounded-lg bg-red-600 dark:bg-gray-800 dark:text-red-400" role="alert">
			<svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
			</svg>
			<div class="ms-3 text-sm font-medium">
				{{ flashMessage }}
			</div>
			<button type="button" class="ms-auto -mx-1.5 -my-1.5 text-white rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-2" aria-label="Close">
				<span class="sr-only">Close</span>
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
				</svg>
			</button>
		</div>
	{% endfor %}
	<!-- Start Content -->

	<div id="plugin-container" class=" flex flex-wrap flex-col md:flex-row items-center justify-start">
		<div id="cardplugin" class="flex flex-col lg:flex-row lg:m-[1rem] mb-5 lg:space-x-6 p-5 md:p-10 justify-between w-full gap-5 lg:gap-0 ">
			{% if plugin.imageName %}
				<div class="w-40 flex-shrink-0 flex flex-col items-center justify-center">
					<img src="{{ vich_uploader_asset(plugin, 'imageFile') }}" alt="Icon" id="Icon" class="Icon w-40 h-40 object-cover">
					<h1 class="text-xl font-md pt-1">{{ plugin.name }}</h1>
				</div>
			{% endif %}
			<div
				class="flex-1  flex  flex-col lg:px-3 lg:pb-10 lg:pt-5 justify-between">
				<!-- Flex item takes remaining space -->
				<p class="text-gray-500  text-xs md:text-base md:w-70 break-words whitespace-normal">
					{{ plugin.description|slice(0, 300) }}
					{% if plugin.description|length > 300 %}
						<a href="{{ path('app_plugin_show', { 'id': plugin.id }) }}#description">...</a>
					{% endif %}

				</p>
				<div class="flex justify-between items-center mt-5">
					<div class="flex items-center gap-2">
						<div class="flex h-full justify-start items-end gap-1">
							<img src="{{ asset('images/svg/download.svg') }}" class="pb-[3px]" alt="download">
							<span class=" text-gray-400 text-xs p-0">54k</span>
						</div>
						<h1 class="mb-2 text-2xl text-gray-700">
							{{ RatingStats.average_rating }}
							<span class="text-yellow-500">★</span>
						</h1>
					</div>
					{% if fields|length > 0 %}
						<button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="px-3 py-1 bg-black text-white rounded">Install</button>
					{% else %}
						<form action="" method="post">
							<button type="submit" class="px-3 py-1 bg-black text-white rounded">Install</button>
						</form>
					{% endif %}
				</div>
			</div>
		</div>

	</div>


	<!--Slides section-->

	{% if plugin.screenShots|length > 0 %}
		<div id="Screenshotscarousse" class="   flex flex-col items-center mt-5">

			<div class="carousel lg:mb-2   ">
				{% for screenshot in plugin.screenShots %}
					{# <div class="screenshot"> #}
					{% if screenshot.imageName %}
						<img src="{{ vich_uploader_asset(screenshot, 'imageFile') }}" alt="Image 1" class="carousel-image  absolute border rounded top-0  ">
					{% else %}
						<p>No image available</p>
					{% endif %}
					{# </div> #}
				{% endfor %}
			</div>

			<div class="thumbnails   flex justify-center  md-ml-90   mb-5" style="overflow-x: scroll;">
				{% for screenshot in plugin.screenShots %}
					<img src="{{ vich_uploader_asset(screenshot, 'imageFile') }}" alt="Thumbnail {{ loop.index0 }}" class="thumbnail w-24 h-16 border rounded mx-2 cursor-pointer opacity-60" data-index="{{ loop.index0 }}">
				{% endfor %}
			</div>
		</div>
	{% endif %}

	<div
		class="lg:px-10">
		<!-- Description Section -->
		<div id="description" class="container mx-auto p-2">
			<div class=" w-full bg-gray-100 hover:bg-gray-200 py-1 pl-4 transition-all duration-100 rounded-lg mb-1">
				<div onclick="handleDescriptionContent()" class="cursor-pointer text-black  font-italic text-xl flex items-center gap-2 ">
					Description
					<img src="{{ asset('images/svg/move-to-page-icon-black.svg') }}" class="text-black w-4 h-4" alt="  Plugins">
				</div>
			</div>
			<div class="p-2 border rounded-lg ">
				<div class="text-sm text-gray-600">
					<span id="more-plugin-description">
						<p>{{ plugin.description|slice(0, 500) }}</p>
						{% if plugin.description|length > 500 %}
							<button onclick="handleDescriptionContent()" class="text-xs text-gray-300">
								see more...
							</button>
						{% endif %}

					</span>
					<span class="hidden" id="less-plugin-description">
						<p>{{ plugin.description }}</p>
						{% if plugin.description|length > 500 %}
							<br>
							<button onclick="handleDescriptionContent()" class="ext-xs text-gray-300">
								see less
							</button>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
		<!-- Rating Section -->
		<div class="container mx-auto p-2">
			<div class=" w-full bg-gray-100 hover:bg-gray-200 py-1 pl-4 transition-all duration-100 rounded-lg mb-1">
				<div class="text-black  font-italic text-xl flex items-center gap-2 ">
					Rating
					<img src="{{ asset('images/svg/move-to-page-icon-black.svg') }}" class="text-black w-4 h-4" alt="  Plugins">
				</div>
			</div>
			<div class=" border rounded-lg">
				<div class="p-2 ml-10  flex flex-col md:flex-row items-stretch   ">
					<div class="mt-6 md:mt-0 md:w-1/3 flex flex-col justify-center">
						<h1 class="mb-2 text-6xl">{{ RatingStats.average_rating }}
							<span class="text-yellow-500">★</span>
						</h1>
						<p class="text-sm font-medium text-gray-500 ml-6 dark:text-gray-400">{{ RatingStats.ratings_count }}
							Total ratings</p>
					</div>

					<div class="mt-4 md:mt-0 md:ml-6 md:w-4/5 flex flex-col justify-center">
						<div class="flex items-center mt-2">
							<a href="#" class="text-sm font-medium text-gray-600 dark:text-gray-500 hover:underline">5
								<span class="text-yellow-500">★</span>
							</a>
							<div class="w-2/4 h-3 mx-4 bg-gray-200 rounded-md dark:bg-gray-700">
								<div class="h-3 bg-yellow-300 rounded-md" style="width: {{ RatingStats.five_star.percentage }}%;"></div>

							</div>
							<span class="text-sm font-medium text-gray-500 ml-6 dark:text-gray-400">{{ RatingStats.five_star.percentage | round(0) }}%</span>
						</div>
						<div class="flex items-center mt-2">
							<a href="#" class="text-sm font-medium text-gray-600 dark:text-gray-500 hover:underline">4
								<span class="text-yellow-500">★</span>
							</a>
							<div class="w-2/4 h-3 mx-4 bg-gray-200 rounded-md dark:bg-gray-700">
								<div class="h-3 bg-yellow-300 rounded-md" style="width: {{ RatingStats.four_star.percentage }}%;"></div>
							</div>
							<span class="text-sm font-medium text-gray-500 ml-6 dark:text-gray-400">{{ RatingStats.four_star.percentage | round(0) }}%</span>
						</div>
						<div class="flex items-center mt-2">
							<a href="#" class="text-sm font-medium text-gray-600 dark:text-gray-500 hover:underline">3
								<span class="text-yellow-500">★</span>
							</a>
							<div class="w-2/4 h-3 mx-4 bg-gray-200 rounded-md dark:bg-gray-700">
								<div class="h-3 bg-yellow-300 rounded-md" style="width: {{ RatingStats.three_star.percentage }}%;"></div>
							</div>
							<span class="text-sm font-medium text-gray-500 ml-6 dark:text-gray-400">{{ RatingStats.three_star.percentage | round(0) }}%</span>
						</div>
						<div class="flex items-center mt-2">
							<a href="#" class="text-sm font-medium text-gray-600 dark:text-gray-500 hover:underline">2
								<span class="text-yellow-500">★</span>
							</a>
							<div class="w-2/4 h-3 mx-4 bg-gray-200 rounded-md dark:bg-gray-700">
								<div class="h-3 bg-yellow-300 rounded-md" style="width: {{ RatingStats.two_star.percentage }}%;"></div>
							</div>
							<span class="text-sm font-medium text-gray-500 ml-6 dark:text-gray-400">{{ RatingStats.two_star.percentage | round(0) }}%</span>
						</div>
						<div class="flex items-center mt-2">
							<a href="#" class="text-sm font-medium text-gray-600 dark:text-gray-500 hover:underline">1
								<span class="text-yellow-500">★</span>
							</a>
							<div class="w-2/4 h-3 mx-4 bg-gray-200 rounded-md dark:bg-gray-700">
								<div class="h-3 bg-yellow-300 rounded-md" style="width: {{ RatingStats.one_star.percentage }}%;"></div>
							</div>
							<span class="text-sm font-medium text-gray-500 ml-6 dark:text-gray-400">{{ RatingStats.one_star.percentage | round(0) }}%</span>
						</div>
					</div>
				</div>

				<div class="p-2  ">

					{% for rate in last_rating %}

						{% if rate.comment %}


							<div class=" ml-2 mr-3 flex items-start mb-1">
								<img class="w-10 h-10 rounded-full object-cover mr-4 shadow" src="https://randomuser.me/api/portraits/men/6.jpg" alt="avatar">
								<div>
									<div class="flex items-end ">
										<h2 class="text-lg font-semibold text-black dark:text-white ">{{ rate.username }}</h2>
										<span class="text-xs ml-2 text-gray-500 dark:text-gray-400 py-1">{{ rate.createdAt|date('F j, Y') }}</span>
									</div>
									<span class="ml-2 text-yellow-500">
										{% set ratingValue = rate.rating %}

										{% for i in 1..ratingValue %}
											★
										{% endfor %}
										{% if ratingValue < 5 %}
											{% for i in 1..(5-ratingValue) %}
												☆
											{% endfor %}
										{% endif %}

									</span>
									<p class="text-sm text-gray-600  dark:text-gray-400">
										{{ rate.comment }}
									</p>
									<div class="flex items-center mt-2"></div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
					<div class="p-2">
						<button id="see-more-comments" onclick="moreComments()" class="text-blue-500 text-xs">See more</button>
					</div>
				</div>
				<div class="moreComment hidden">
					{% for rate in rest_rating %}

						{% if rate.comment %}
							<div class=" ml-2 mr-3 flex items-start mb-1">
								<img class="w-10 h-10 rounded-full object-cover mr-4 shadow" src="https://randomuser.me/api/portraits/men/6.jpg" alt="avatar">
								<div>
									<div class="flex items-end ">
										<h2 class="text-lg font-semibold text-black dark:text-white ">{{ rate.username }}</h2>
										<span class="text-xs ml-2 text-gray-500 dark:text-gray-400 py-1">{{ rate.createdAt|date('F j, Y') }}</span>
									</div>
									<span class="ml-2 text-yellow-500">
										{% set ratingValue = rate.rating %}

										{% for i in 1..ratingValue %}
											★
										{% endfor %}
										{% if ratingValue < 5 %}
											{% for i in 1..(5-ratingValue) %}
												☆
											{% endfor %}
										{% endif %}

									</span>
									<p class="text-sm text-gray-600  dark:text-gray-400">
										{{ rate.comment }}
									</p>
									<div class="flex items-center mt-2"></div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>


				<button onclick="hideComments()" id="hidde-comments" class="text-blue-500 hidden p-2 pl-4">See less</button>


				<div class="flex flex-col md:flex-row gap-5 md:gap-0 md:justify-between items-start md:items-center py-2 px-4 w-full">

					<div class="flex items-center gap-3">
						<p class="text-gray-900 text-md">Rate this plugin</p>
						<small class="text-gray-400 text-xs">Tell us what you think.</small>
					</div>
					<article class="flex items-center  justify-between md:justify-end md:gap-10 w-full md:w-auto">
						<div class="star-button-rating">

							<button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal">★</button>
							<button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal">★</button>
							<button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal">★</button>
							<button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal">★</button>
							<button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal">★</button>

						</div>
						<button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Write a review</button>
					</article>
				</div>
			</div>
		</div>
		<!-- Functionality Section -->
		<div id="setup" class="container mx-auto p-2">
			<div class=" w-full bg-gray-100 hover:bg-gray-200 py-1 pl-4 transition-all duration-100 rounded-lg mb-1">
				<div onclick="handleSetUpContent()" class=" cursor-pointer text-black  font-italic text-xl flex items-center gap-2 ">
					Steps to retrieve my credentials
					<img src="{{ asset('images/svg/move-to-page-icon-black.svg') }}" class="text-black w-4 h-4" alt="  Plugins">
				</div>
			</div>
			<div class="p-2 border rounded-lg mb-4">
				<p class="text-sm text-gray-600">
					<span id="more-plugin-setup">
						{{ plugin.setup|slice(0, 500) }}
						{% if plugin.setup|length > 500 %}
							<button onclick="handleSetUpContent()" class="text-xs text-gray-300">
								see more...
							</button>
						{% endif %}


					</span>
					<span class="hidden" id="less-plugin-setup">
						{{ plugin.setup }}
						{% if plugin.setup|length > 500 %}
							<br>
							<button onclick="handleSetUpContent()" class="ext-xs text-gray-300">
								see less
							</button>
						{% endif %}
					</span>
				</p>

			</div>
		</div>
		<!-- Similar Plugins Section -->
		<div class="container mx-auto p-2">
			<div class=" w-full bg-gray-100 hover:bg-gray-200 py-1 pl-4 transition-all duration-100 rounded-lg mb-1">
				<div class="text-black  font-italic text-xl flex items-center gap-2 ">
					Similar Plugins
					<img src="{{ asset('images/svg/move-to-page-icon-black.svg') }}" class="text-black w-4 h-4" alt="  Plugins">
				</div>
			</div>

			{# <div class="SimilarPluginssliders" style="width:100%;  overflow-x: scroll;">
				<div class="flex transition-transform duration-500 ease-in-out" id="carousel">
					<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-6 gap-x-4 gap-y-4 my-6">
						<div class="h-64 p-2  card  flex flex-col border border-gray-200 ">
							<div class="flex justify-center W-full h-1/2 py-2 bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image: url(https://th.bing.com/th/id/OIP.5chsv8aD5xQeK02HUXPqLQHaEK?rs=1&pid=ImgDetMain);"></div>
							<div class="flex flex-grow">
								<div class="triangle"></div>
								<div class="flex flex-col justify-between  pb-3 bg-white ">
									<div>
										<a href="#" class="inline-block mb-1  text-sm font-bold text-black  capitalize  ">Reliable
																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                            Schemas</a>
										<p class="block  text-xs leading-tight  text-gray-400 ">
											What Zombies Can Teach You About Food</p>

									</div>
									<div class="flex justify-between">
										<div class="flex items-end gap-1">
											<div class="flex h-full justify-start items-end gap-1">
												<img src="{{ asset('images/svg/download.svg') }}" class="pb-[3px]" alt="download">
												<span class=" text-gray-400 text-xs p-0">54k</span>
											</div>
										</div>
										<button class="w-16 rounded-md bg-black text-white text-xs px-2 mt-3 py-1 ">install</button>

									</div>
								</div>
							</div>
						</div>

						<div class="h-64 p-2  card  flex flex-col border border-gray-200 ">
							<div class="flex justify-center W-full h-1/2 py-2 bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image: url(https://i0.wp.com/eobasi.com/wp-content/uploads/2018/05/install-oxwall-plugins.png?resize=768%2C379&ssl=1);"></div>
							<div class="flex flex-grow">
								<div class="triangle"></div>
								<div class="flex flex-col justify-between  pb-3 bg-white ">
									<div>
										<a href="#" class="inline-block mb-1  text-sm font-bold text-black  capitalize  ">Reliable
																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                            Schemas</a>
										<p class="block  text-xs leading-tight  text-gray-400 ">
											What Zombies Can Teach You About Food</p>

									</div>
									<div class="flex justify-between">
										<div class="flex items-end gap-1">
											<div class="flex h-full justify-start items-end gap-1">
												<img src="{{ asset('images/svg/download.svg') }}" class="pb-[3px]" alt="download">
												<span class=" text-gray-400 text-xs p-0">54k</span>
											</div>
										</div>
										<button class="w-16 rounded-md bg-black text-white text-xs px-2 mt-3 py-1 ">install</button>

									</div>
								</div>
							</div>
						</div>

						<div class="h-64 p-2  card  flex flex-col border border-gray-200 ">
							<div class="flex justify-center W-full h-1/2 py-2 bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image: url(https://wpshuffle.com/wp-content/uploads/2021/04/how-to-install-plugin.jpg);"></div>
							<div class="flex flex-grow">
								<div class="triangle"></div>
								<div class="flex flex-col justify-between  pb-3 bg-white ">
									<div>
										<a href="#" class="inline-block mb-1  text-sm font-bold text-black  capitalize  ">Reliable
																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                            Schemas</a>
										<p class="block  text-xs leading-tight  text-gray-400 ">
											What Zombies Can Teach You About Food</p>

									</div>
									<div class="flex justify-between">
										<div class="flex items-end gap-1">
											<div class="flex h-full justify-start items-end gap-1">
												<img src="{{ asset('images/svg/download.svg') }}" class="pb-[3px]" alt="download">
												<span class=" text-gray-400 text-xs p-0">54k</span>
											</div>
										</div>
										<button class="w-16 rounded-md bg-black text-white text-xs px-2 mt-3 py-1 ">install</button>

									</div>
								</div>
							</div>
						</div>

						<div class="h-64 p-2  card  flex flex-col border border-gray-200 ">
							<div class="flex justify-center W-full h-1/2 py-2 bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image: url(https://user-meta.com/wp-content/blogs.dir/2/files/2022/12/How-to-upload-wordpress-plugin-1.png);"></div>
							<div class="flex flex-grow">
								<div class="triangle"></div>
								<div class="flex flex-col justify-between  pb-3 bg-white ">
									<div>
										<a href="#" class="inline-block mb-1  text-sm font-bold text-black  capitalize  ">Reliable
																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                            Schemas</a>
										<p class="block  text-xs leading-tight  text-gray-400 ">
											What Zombies Can Teach You About Food</p>

									</div>
									<div class="flex justify-between">
										<div class="flex items-end gap-1">
											<div class="flex h-full justify-start items-end gap-1">
												<img src="{{ asset('images/svg/download.svg') }}" class="pb-[3px]" alt="download">
												<span class=" text-gray-400 text-xs p-0">54k</span>
											</div>
										</div>
										<button class="w-16 rounded-md bg-black text-white text-xs px-2 mt-3 py-1 ">install</button>

									</div>
								</div>
							</div>
						</div>

						<div class="h-64 p-2  card  flex flex-col border border-gray-200 ">
							<div class="flex justify-center W-full h-1/2 py-2 bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image: url(https://th.bing.com/th/id/OIP.t5ZjYXXhiZjXmZnA2-ZM9QHaEK?w=1280&h=720&rs=1&pid=ImgDetMain);"></div>
							<div class="flex flex-grow">
								<div class="triangle"></div>
								<div class="flex flex-col justify-between  pb-3 bg-white ">
									<div>
										<a href="#" class="inline-block mb-1  text-sm font-bold text-black  capitalize  ">Reliable
																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                            Schemas</a>
										<p class="block  text-xs leading-tight  text-gray-400 ">
											What Zombies Can Teach You About Food</p>

									</div>
									<div class="flex justify-between">
										<div class="flex items-end gap-1">
											<div class="flex h-full justify-start items-end gap-1">
												<img src="{{ asset('images/svg/download.svg') }}" class="pb-[3px]" alt="download">
												<span class=" text-gray-400 text-xs p-0">54k</span>
											</div>
										</div>
										<button class="w-16 rounded-md bg-black text-white text-xs px-2 mt-3 py-1 ">install</button>

									</div>
								</div>
							</div>
						</div>

						<div class="h-64 p-2  card  flex flex-col border border-gray-200 ">
							<div class="flex justify-center W-full h-1/2 py-2 bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image: url(https://th.bing.com/th/id/OIP.04yES9crX5XfEkXoTqgQSgHaHt?rs=1&pid=ImgDetMain);"></div>
							<div class="flex flex-grow">
								<div class="triangle"></div>
								<div class="flex flex-col justify-between  pb-3 bg-white ">
									<div>
										<a href="#" class="inline-block mb-1  text-sm font-bold text-black  capitalize  ">Reliable
																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                            Schemas</a>
										<p class="block  text-xs leading-tight  text-gray-400 ">
											What Zombies Can Teach You About Food</p>

									</div>
									<div class="flex justify-between">
										<div class="flex items-end gap-1">
											<div class="flex h-full justify-start items-end gap-1">
												<img src="{{ asset('images/svg/download.svg') }}" class="pb-[3px]" alt="download">
												<span class=" text-gray-400 text-xs p-0">54k</span>
											</div>
										</div>
										<button class="w-16 rounded-md bg-black text-white text-xs px-2 mt-3 py-1 ">install</button>

									</div>
								</div>
							</div>
						</div>

						<div class="h-64 p-2  card  flex flex-col border border-gray-200 ">
							<div class="flex justify-center W-full h-1/2 py-2 bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image: url(https://th.bing.com/th/id/R.b3a46e6760afe03b45f87b841402ea2b?rik=pGG3sg9kQ6loew&pid=ImgRaw&r=0);"></div>
							<div class="flex flex-grow">
								<div class="triangle"></div>
								<div class="flex flex-col justify-between  pb-3 bg-white ">
									<div>
										<a href="#" class="inline-block mb-1  text-sm font-bold text-black  capitalize  ">Reliable
																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                            Schemas</a>
										<p class="block  text-xs leading-tight  text-gray-400 ">
											What Zombies Can Teach You About Food</p>

									</div>
									<div class="flex justify-between">
										<div class="flex items-end gap-1">
											<div class="flex h-full justify-start items-end gap-1">
												<img src="{{ asset('images/svg/download.svg') }}" class="pb-[3px]" alt="download">
												<span class=" text-gray-400 text-xs p-0">54k</span>
											</div>
										</div>
										<button class="w-16 rounded-md bg-black text-white text-xs px-2 mt-3 py-1 ">install</button>

									</div>
								</div>
							</div>
						</div>
						<div class="h-64 p-2  card  flex flex-col border border-gray-200 ">
							<div class="flex justify-center W-full h-1/2 py-2 bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image: url(https://th.bing.com/th/id/R.b3a46e6760afe03b45f87b841402ea2b?rik=pGG3sg9kQ6loew&pid=ImgRaw&r=0);"></div>
							<div class="flex flex-grow">
								<div class="triangle"></div>
								<div class="flex flex-col justify-between  pb-3 bg-white ">
									<div>
										<a href="#" class="inline-block mb-1  text-sm font-bold text-black  capitalize  ">Reliable
																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                            Schemas</a>
										<p class="block  text-xs leading-tight  text-gray-400 ">
											What Zombies Can Teach You About Food</p>

									</div>
									<div class="flex justify-between">
										<div class="flex items-end gap-1">
											<div class="flex h-full justify-start items-end gap-1">
												<img src="{{ asset('images/svg/download.svg') }}" class="pb-[3px]" alt="download">
												<span class=" text-gray-400 text-xs p-0">54k</span>
											</div>
										</div>
										<button class="w-16 rounded-md bg-black text-white text-xs px-2 mt-3 py-1 ">install</button>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> #}
		</div>


	</div>
</div>
<div id="crud-modal" tabindex="-1" aria-hidden="true" class="lg:ml-[113px] hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
	<div
		class="relative p-4 w-full max-w-xl max-h-full">
		<!-- Modal content -->
		<div
			class="relative bg-white rounded-lg shadow dark:bg-gray-700">
			<!-- Modal header -->
			<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
				<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
					credentials
				</h3>
				<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
					<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
			</div>
			<!-- Modal body -->
			<div class="px-4 py-3">
				<form action="" method="post">

					{% for field in fields %}
						<label for="field" class="block text-sm font-medium text-gray-900 my-1">{{ field }}</label>
						<input type="text" id="field" name="{{ field }}" class="form-control relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm mb-2" placeholder="Enter The Category Name" required>
					{% endfor %}

					<div class="flex w-full my-1 justify-start">
						<a href="{{ path('app_plugin_show', { 'id': plugin.id }) }}#setup" data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="text-blue-500 text-sm">How to get my credentials ?</a>
					</div>
					<div class="w-full flex justify-end">
						<button type="submit" class=" mt-2 w-full md:w-1/2 xl:w-1/4 px-4 py-2 rounded bg-black text-white  focus:outline-none transition-colors mb-3">
							install
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Rating modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class="lg:ml-[113px] hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
	<div
		class="relative p-4 w-full max-w-2xl max-h-full">
		<!-- Modal content -->
		<div
			class="relative bg-white rounded-lg shadow dark:bg-gray-700">
			<!-- Modal header -->
			<div class="flex items-center justify-between p-4 md:p-5  rounded-t dark:border-gray-600">
				<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
					Rate this plugin
				</h3>
				<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
					<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
			</div>
			<!-- Modal body -->
			<div class="p-4 pt-0 space-y-4">
				<p class="text-sm text-base leading-relaxed text-gray-500 dark:text-gray-400">
					Reviews are public and include your account and device info
																																																							Everyone can see your Snazzy Account name and photo associated with your review. Past edits are visible to users unless you delete your review.
				</p>
				<form action="{{ path('app_plugin_rate' , { id:plugin.id }) }}" method="post">
					<article class="flex flex-col items-center gap-2 w-full">
						<div class="star-rating mb-3">
							<input type="radio" id="star5" name="rating" value="5" min="1" max="5" required>
							<label for="star5" title="5 stars">★</label>
							<input type="radio" id="star4" name="rating" value="4" min="1" max="5" required>
							<label for="star4" title="4 stars">★</label>
							<input type="radio" id="star3" name="rating" value="3" min="1" max="5" required>
							<label for="star3" title="3 stars">★</label>
							<input type="radio" id="star2" name="rating" value="2" min="1" max="5" required>
							<label for="star2" title="2 stars">★</label>
							<input type="radio" id="star1" name="rating" value="1" min="1" max="5" required>
							<label for="star1" title="1 star">★</label>
						</div>
						<div class="flex items-center gap-2  w-full">
							<input type="search" name="review" class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Describe your experience (optional)"/>
							<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3.5  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-1/4">Send</button>
						</div>
					</article>

				</form>
			</div>

		</div>
	</div>
</div>
<script>
	document.addEventListener('DOMContentLoaded', (event) => {
const deleteLabel = document.querySelector('label[for$="_imageFile_delete"]');
if (deleteLabel) {
deleteLabel.textContent = 'Delete image';
deleteLabel.classList.add('custom-delete-label', 'text-gray-100');
}
});
</script>{% endblock %}{% block javascripts %}
<script src="{{ asset('js/details.js') }}?v=2.0"></script>{% endblock %}
